.reveal-modal .close-reveal-modal.corner-button { 
	background-color:$secondary-color;
	border-radius:50%; 
	width:30px;
	height:30px;
	span { 
		position: relative;
		top: -11px;
		right: -8px;
		font-size: 29px;
		color:#fff; 
	}
}