.ui-dialog { z-index: 10000000000000 !important ;}

.ui-dialog-titlebar { display:none !important; }

.ui-dialog-content.ui-widget-content { 
	background-color:rgba(shade($secondary-color,100%), .7);
}